* {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:hover, svg:hover {
    color: var(--text-base);
}


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--essential-subdued);
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,0.07);
    --background-tinted-highlight: hsla(0,0%,100%,0.1);
    --background-tinted-press: hsla(0,0%,100%,0.04);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;

    --background-player: #181818;
    --border-highlight: #282828;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 65px auto 95px;
    grid-template-areas: "side header"
                         "side main"
                         "footer footer";
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--text-subdued);
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    color: var(--text-base);
    background-color: var(--background-highlight);
}
#history {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#history span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}



/* 
 * Sidebar
 **/
aside {
    grid-area: side;
    display: flex;
    flex-direction: column;
    gap: 2rem 0rem;
    padding: 10px;
    background-color: var(--background-elevated-press);
}

aside > ul:last-child {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-highlight);
}
aside > ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: color ease-in-out 0.5s, background-color ease-in-out 0.5s;

}
aside > ul li:focus, aside > ul li:hover  {
    color: var(--text-base);
    transition: color ease-in-out 0.3s;
}
aside > ul li.active  {
    background-color: #a7a7a77a;
    color: var(--text-base);
    transition: color ease-in-out 0.3s;
}




main {
    grid-area: main;
    height: calc(100vh - 160px);
    padding: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: var(--background-base);
}
#banner {
    width: 100%;
    height: 250px;
    border-radius: 0.25rem;
    overflow: hidden;
}
#banner img {
    height: auto;
    width: 100%;
}
main #content {
    min-height: 100vh;
}

#content > div {
    margin-top: 2.5rem;
}
#content > div h2 {
    font-weight: 500;
    color: var(--text-base);
    margin: 0.5rem 0;
}
#content > div > p {
    font-weight: 400;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.cards {
    display: flex;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 1.25rem;
    border-radius: 0.2rem;
    background-color: rgba(34, 34, 34, 0.5);
    transition: background-color 0.3s ease-in-out;
}
.card:hover {
    background-color: rgba(53, 53, 53, 0.5);
}
.card img {
    border-radius: 0.2rem;
    box-shadow: 1px 1px 32px rgba(0, 0, 0, 0.6);
}

.card-content {
    margin-top: 1rem;
}
.card-content p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-base);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-content a {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.8rem;
    font-weight: 400;
}




/* 
 * Music Player
 **/
footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    color: var(--text-subdued);
    border-top: 1px solid var(--border-highlight);
    background-color: var(--background-player);
}

#player__track-name {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 215px;
}

#player__track-name a:first-child {
    display: block;
    padding: 0.1rem;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--text-base);
}
#player__elapsed-time, #player__duration-time, #player__track-name a:last-child {
    display: block;
    padding: 0.1rem;
    font-size: 0.7rem;
    font-weight: 400;
}

#player__controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#player__controls > div {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}


input[type="range"] {
    height: 0.25rem;
    border-radius: 1rem;
    background-color: var(--essential-subdued);
}
.player__track-holder {
    position: relative;
    display: inline-block;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: var(--essential-subdued);
    overflow: hidden;
}
.player__track {
    position: absolute;
    top: 0;
    left: 0;
    height: 0.25rem;
    border-radius: 1rem;
    background-color: var(--essential-base);
}
.player__track-progress {
    width: 500px;
}
.player__track-volume {
    width: 90px;
}
#player__progess {
    width: 250px;
}
#player__volume {
    width: 50px;
}

#player__features {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
#player__features div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.circular-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0px;
}


.icon {
    width: 1.5rem;
    height: 1.5rem;

}
.icon-md {
    width: 1.25rem;
    height: 1.25rem;
}
.icon-sm {
    width: 0.92rem;
    height: 0.92rem;
}
.icon-box {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    padding: 0.25rem;
    border-radius: 0.1rem;
    color: var(--background-highlight);
    background-color: var(--text-subdued);
}
.rotate90 {
    transform: rotate(90deg);
}
